{% assign class_without_sku = '' %}
{% assign data_skus = '' %}

{% if image.skus == blank %}
  {% assign class_without_sku = 'image-without-sku' %}
{% else %}
  {% assign data_skus = image.skus | join: ',' | prepend: 'data-skus-image="' | append: ',"' %}
{% endif %}

{% assign productHexas = product.variants | map: 'properties' | map: 'property1' | map: 'value'  | join: ',' | prepend: 'data-skus-hexas="' | append: ',"'  %}

{% capture srcset_image %}
  {{ image.url | resize: '700x' }} 800w,
  {{ image.url | resize: '420x' }} 480w,
  {{ image.url | resize: '320x' }} 320w,
  {{ image.url | resize: '350x' }} 350w,
  {{ image.url | resize: '170x' }} 400w
{% endcapture %}


<div class="swiper-slide item-image {{ class_without_sku }}" {{productHexas}}  {{ class_without_sku }} inactive swiper-slide {{ data_skus }}>
  <div class="aspect">
    <figure >
        <img
        alt="{{ product.name }}" 
        title="Foto do produto {{ product.name }}"
        class="lazy"
        data-srcset="{{ srcset_image }}"
        data-sizes="
        (max-width: 1920px) 480px,
        (max-width: 1400px) 350px,
        (max-width: 767px) 480px,
        (max-width: 480px) 480px,
        (min-width: 1921px) 800px" />
      <div class="skeleton"></div>
      </figure>
  </div>
</div>
