{% gtm product_impression: product %}

{% assign image_urls = product.images | group_images_by_url %}
{% assign class_sold_out = '' %}

{% unless product.available %}
  {% assign class_sold_out = 'sold-out' %}
{% endunless %}

{% if product.discount_rule != null and product.discount_rule.type == 'percentage' %}
  {% assign discount_amount = product.discount_rule.amount %}
{% endif %}

<div class="product-block -group-shop-block {{ class_sold_out }} {{swiper_slide}} {{tagName}}"
  data-product-box
  data-prod-group-shop
  data-prod-ref="{{ product.reference }}"
  data-price="{{ product.price }}"
  data-sale-price="{{ product.sale_price }}"
  data-available="{{ product.available }}"
  data-discount-percent="{{ discount_amount | default: 0 }}"  
  data-selector="{{data_selector}}"
  data-sku-product-general="{{general_id}}"
  >

  <div class="product-top">
    <div class="swiper-product-block swiper">
      <div class="swiper-wrapper">
        {% for image in image_urls %}
          {% render 'partials/components/group_shop/group_shop_images', product: product, image:image %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="product-bottom">
    {% if tagName == "top" %}
      <img class="type-icon" src="{{'top.png' | image_path }}" alt="top icon">
    {% elsif tagName == "bottom" %}
      <img class="type-icon" src="{{'bottom.png' | image_path }}" alt="bottom icon">
    {% endif %}

    <div class="description">
      <h3 class="name">
        {{ product.name }}
      </h3>

      {% capture price_settings %}
        {
          "productId": {{ product.id }},
          "showInstallmentsWithoutInterest": true,
          "showInstallmentsWithInterest": false, 
          "mode": "medium",
          "htmlTag": "p"
        }
      {% endcapture %}

      <div class="price-wrapper">
        <div 
          class="product-price price {% if discount_amount %} -discount {% endif %}" 
          data-was-processed="false" 
          data-sku="" 
          data-init-price='{{ price_settings }}'
          data-price="{{ product.price }}"
          data-discount-percent="{{ discount_amount | default: 0 }}"  
        ></div>
      </div>
    </div>
    
    {% render 'partials/components/group_shop/purchase', product: product, showButton: false, show_qtd_selector: show_qtd_selector, tagName: tagName, removeItem: removeItem, general_id: general_id %}
    {% render 'partials/product/form_notify', classNotify: classNotify, product: product, current_shop: current_shop %}

  </div>
</div>

