{% assign tagType = '' %}

<div class="mix-match-area group-shop">
  {% for tag in product.tags %}
    {% if tag.type == "conjunto" %}

      {% load_products tag: tag.name %}

      {% for product in products %}
        <script>
          productVariants['{{ product.id }}'] = {{ product.variants | to_json }};
        </script>

        {% if product != current_product %}
          {% assign tagName = product.tags | map: 'name' | uniq %}

          {% for tag in product.tags %}
            {% if tag.name == "top" or tag.name == "bottom" %}
              {% assign tagType = tag.name %}
            {% endif %}
          {% endfor %}

          {% if tagName contains 'top' or tagName contains 'bottom' %}
            <div class="block-mix-match {{ tagType }}">
              {% render 'partials/components/group_shop/group_shop_block' product: product, removeItem: true, current_shop: current_shop %}
            </div>
          {% endif %}

        {% endif %}
      {% endfor %}

    {% endif %}  
  {% endfor %}

  
<div class="price-wrapper">
  <div class="discount-wrapper -hidden">
    <span class="discount-percent"></span>
    <span class="original-price"></span>
  </div>
  <span class="price-group"></span>
  <span class="warning" data-warning></span>
</div>


<div class="purchase -hidden">
  <form id="form-product" class="form-product" action="{{ cart_item_url }}" enctype="multipart/form-add" method="post" data-form-product-group-shop style="display: none;"></form>

  <span id="selected-products">
    Selecionado: 0 produtos
  </span>
  <div class="wrapper-price">
    <span>
      Total:
    </span>
    <div class="discount-wrapper -hidden">
      <span class="discount-percent"></span>
      <span class="original-price"></span>
    </div>
    <span class="price-group"></span>
    <span class="warning" data-warning></span>
  </div>

  <button aria-label="Adicionar produtos selecionados ao carrinho" class="add-to-cart-button btn" data-group-shop-add type="button">
    <span>Adicionar à sacola</span>
  </button>
</div>

</div>

