{% unless extra_class %}
  {% assign extra_class = '' %}
{% endunless %}

{% unless show_qtd_selector == true %}
  {% assign show_qtd_selector = false %}
{% endunless %}

{% unless text_string %}
  {% assign text_string = '<span>Adicionar ao carrinho</span>' %}
{% endunless %}

{% comment %} ========== {% endcomment %}

<form action="{{ cart_item_url }}" class="add-to-cart" enctype="multipart/form-add" method="post" data-product-purchase data-product-id="{{ product.id }}" data-processed="false">
  <div class="attributes" data-product-attributes>
    {% render 'partials/content/product/variants/variants', product: product, tag_medidas: tag_medidas, tagName: tagName %}
  </div>

  <div class="actions-wrapper">
    {% if show_qtd_selector %}
      <div class="quantity-selector">
        <label class="quantity" for="quantity">
          <button aria-label="Diminuir quantidade de itens" class="control -minus" data-qtd-minus type="button">&minus;</button>
          <input class="input" data-available-quantity name="quantity" readonly type="number" value="1"/>
          <button aria-label="Aumentar quantidade de itens" class="control -plus" data-qtd-plus type="button">&plus;</button>
        </label>
      </div>
    {% else %}
      <input aria-label="Quantidade de itens" name="quantity" type="hidden" value="1"/>
    {% endif %}

    {% if showButton %}
      <button aria-label="Adicionar no carrinho" type="submit" class="add-to-cart-button button-default {{ extra_class }}" data-text-available='{{ text_string }}' data-text-unavailable="<span>Indisponível</span>" data-text-added='<span>Adicionado</span><svg class="icon"><use xlink:href="#icon-check"/></svg>' data-action="add-cart" data-event="addToCart" data-event-json='{% gtm item: product %}' data-sku-product-general="{{general_id}}">
        {{ text_string }}
      </button>
    {% endif %}
    {% if removeItem %}
      <span class="remove-group">Remover item</span>
    {% endif %}
  </div>

  <div class="msg-response">
    <span class="msg-error"></span>
  </div>
</form>
