{% comment %}
  o calculo de frete na página do produto equivale ao calculo de frete no checkout, vindo dos mesmos dados do cadastro de formas de entrega.

  informacões importantes:
  * para que o calculo de frete funcione é necessário ter alguma forma de entrega configurada na loja
  * o calculo é feito considerando o peso apenas do produto em questão e não considerando os produtos que já estiverem adicionados ao carrinho

  aqui termos um formulário de calculo de frete que recebe o cep como input
{% endcomment %}

<div class="shipping">
  <form class="shipping-form" name="shipping-form">
    <label class="shipping-title" for="cep">
      calcular frete e prazo
    </label>
    <div class="field">
      <input class="input" maxlength="9" name="cep" placeholder="CEP" required type="text"/>
      <button aria-label="Calcular frete" class="action button-default -outlined" type="submit">calcular</button>
    </div>

    <div class="msg-response">
      <div class="msg-error"></div>
    </div>
  </form>

  {% comment %}
    aqui temos uma div vazia, será nela que colocaremos as informacoes retornadas pela plataforma.
  {% endcomment %}
  <div class="shipping-list-wrapper" data-list-shipping></div>
</div>
