{% load_menus position: 'POSIÇÃO DO MENU' %}
{% for menu in loaded_menus %}
  <li>

    {% comment %} 
      é importante validarmos se menu.tooltip está preenchido antes de enviarmos ele para o load_banners. enviar um load_banners com position vazio pode ocasionar erros.
    {% endcomment %}

    {% if menu.tooltip != blank %}

      {% comment %} 
        - teremos uma posição de banner para cada icone
        - iremos usar o tooltip do menu para cadastrar a posição do banner do icone
        - ex: temos o icone de 'home', iremos cadastrar a imagem no banner na posição "menu-icone-home". no menu "home", iremos informar em qual posição de banner cadastramos a imagem, no caso "menu-icone-home"
      {% endcomment %}

      {% load_banners position: menu.tooltip limit: 1 %}
      {% for banner in loaded_banners %}
        <img 
          src="{{ banner.file_url | resize: '25x25' }}" 
          alt="{{ banner.title }}"
        >
      {% endfor %}
    {% endif %}
    <a 
      href="{{ menu.url }}" 
      {% if menu.external %} 
        target="_blank" 
      {% endif %}
    >
      {{ menu.title }}
    </a>
  </li>
{% endfor %}