{% comment %} 
  podemos fazer guias de medidas de três formas diferentes 

  1. cadastro de banners, deve ser utilizado somente se haverá APENAS um guia de medidas para todos os produtos da loja
  2. cadastro de tags, é utilizado quando temos grupos de produtos que utilizam a mesma tabela de tamanhos. é o mais usado e o mais indicado.
  3. cadastro na descrição de produto, é utilizado APENAS se a tabela de tamanhos será única para cada produto e não irá se repetir.

  nesse exemplo, usamos o guia de medidas por cadastro de tags

  o cadastro é feito da seguinte forma:

  - teremos uma tag com o tipo "guia-de-medidas" para cada guia de medidas necessário. 
  - os produtos que devem ter o guia de medidas correspondente deve ter a tag.
{% endcomment %}

{% comment %}
  começamos buscando (where) nas tags de produto (product.tags) a tag com o tipo (type) "guia-de-medidas" e pegando apenas a primeira (first)
{% endcomment %}

{% assign tag_medidas = product.tags | where: 'type', 'guia-de-medidas' | first %}

{% comment %}
  verificamos de há alguma tag de guia de medidas no produto. isso é importante pois não queremos que seja montado o html se não há tag de guia de medidas no produto
{% endcomment %}

{% if tag_medidas != blank %}

  {% comment %}
    criamos o botão, que ao ser clicado abre a popup. não é obrigatório ser uma popup, pode ser um collapse ou apenas já mostrar o conteúdo do guia de medidas direto.
    
    usamos o titulo (title) ou subtitulo (subtitle) da tag para dinamizar o texto do link que abre a popup. 
  {% endcomment %}

  <button type="button" class="btn-medidas" data-action="open-popup" data-popup="guia-medidas">{{ tag_medidas.title }}</button>

  <div class="popup-guia-medidas popup" data-popup="guia-medidas">
    <div class="popup-wrapper">
      <button class="close" data-action="close-popup" data-popup="guia-medidas"></button>
      <div class="content">

        {% comment %}
          verificamos de tem imagem cadastrada na tag, e se tiver mostramos ela.

          sempre é importante usarmos o resize em imagens vindas da plataforma Vnda. o resize corta a imagem no tamanho informado como parâmetro (largura x altura)

          comumente usamos o vanilla lazyload (https://github.com/verlok/vanilla-lazyload) para carregamento das imagens e melhorias de performance, e skeleton para deixar o espaço reservado com a sensação de carregamento
        {% endcomment %}

        {% if tag_medidas.image_url != blank %}
          <div class="image">
            <img class="lazy" data-src="{{ tag_medidas.image_url | resize: '800x' }}" alt="Guia de medidas" />
            <div class="skeleton"></div>
          </div>
        {% endif %}

        {% comment %}
          verificamos se tem descrição cadastrada na tag de guia de medidas, e se tiver mostramos ela.

          a descrição é escrita em markdown, então conseguimos montrar uma tabela com ela (o que é muito útil para guias de medidas)

          podemos utilizar o filtro replace para adicionarmos classes nos elementos vindos do markdown para facilitar a estilização dos elementos
        {% endcomment %}

        {% if tag_medidas.description != blank %}
          <div class="text">
            <div class="text-wrapper">          
              {{ tag_medidas.description | replace: '<h2', '<h2 class="title"' | replace: '<table', '<div class="table-responsive"><table class="table table-bordered"' | replace: '</table>', '</table></div>' }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}


  