{% comment %} 
  podemos fazer guias de medidas de três formas diferentes 

  1. cadastro de banners, deve ser utilizado somente se haverá APENAS um guia de medidas para todos os produtos da loja
  2. cadastro de tags, é utilizado quando temos grupos de produtos que utilizam a mesma tabela de tamanhos. é o mais usado e o mais indicado.
  3. cadastro na descrição de produto, é utilizado APENAS se a tabela de tamanhos será única para cada produto e não irá se repetir.

  nesse exemplo, usamos o guia de medidas por cadastro de tags

  o cadastro é feito da seguinte forma:

  - teremos uma tag com o tipo "guia-de-medidas" para cada guia de medidas necessário. 
  - os produtos que devem ter o guia de medidas correspondente deve ter a tag.

  na descrição da tag do guia de medidas, devemos utilizar o seguinte markdown:

  ```
    ## P

    **Casacos**

    | Medida      | CM          |             |
    | ----------- | ----------- | ----------- |
    | Torax (T)   | 66          |             |
    | Costas (CF) | 71          |             |
    | Cintura (O) | 65          |             |
    | Manga (CM)  | 76,5        |             |

    ---

    ## M

    **Casacos**

    | Medida      | CM          |             |
    | ----------- | ----------- | ----------- |
    | Torax (T)   | 69          |             |
    | Costas (CF) | 74          |             |
    | Cintura (O) | 68          |             |
    | Manga (CM)  | 78          |             |

    ---

    ## G

    **Casacos**

    | Medida      | CM          |             |
    | ----------- | ----------- | ----------- |
    | Torax (T)   | 72          |             |
    | Costas (CF) | 77          |             |
    | Cintura (O) | 71          |             |
    | Manga (CM)  | 79,5        |             |

    ---

    ## GG

    **Casacos**

    | Medida      | CM          |             |
    | ----------- | ----------- | ----------- |
    | Torax (T)   | 75          |             |
    | Costas (CF) | 80          |             |
    | Cintura (O) | 74          |             |
    | Manga (CM)  | 81          |             |
  ```

  onde --- separa os guias de medidas
  e ## delimita o tamanho do produto
{% endcomment %}

{% comment %}
  começamos buscando (where) nas tags de produto (product.tags) a tag com o tipo (type) "guia-de-medidas" e pegando apenas a primeira (first)
{% endcomment %}

{% assign tag_medidas = product.tags | where: 'type', 'guia-de-medidas' | first %}

{% comment %}
  verificamos de há alguma tag de guia de medidas no produto. isso é importante pois não queremos que seja montado o html se não há tag de guia de medidas no produto
{% endcomment %}

{% if tag_medidas != blank %}

  {% comment %}
    sempre precisamos inicializar as variáveis, pois o liquid retorna erro caso utilizamos variáveis que não existem
  {% endcomment %}

  {% assign html_sizes = '' %}
  {% assign html_content_default = '' %}

  {% comment %}
    precisamos verificar de a nossa descrição contém o elemento que vamos utilizar o split, para que só façamos o split se realmente for necessário

    no cadastro informamos *** no markdown, e tag_medidas.description irá retornar o html correspondente, <hr/>

    então faremos um loop para montar as estruturas html necessárias: seleção de tamanhos e conteúdo do default da popup
  {% endcomment %}

  {% if tag_medidas.description contains '<hr/>' %}
    {% assign descParts = tag_medidas.description | split: '<hr/>' %}
    {% for p in descParts %}
      {% if p contains '</h2>' %}
        {% capture html_sizes %}
          {{ html_sizes }}

          <li class="text-size {% if forloop.first %} active {% endif %}" data-size='{{ p | split: "</h2>" | last }}'>
            {{ p | split: '</h2>' | first | strip_html }}
          </li>
        {% endcapture %}
        {% if forloop.first %}
          {% capture html_content_default %}
            {{ p | split: "</h2>" | last }}
          {% endcapture %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="overlay-size-guide"></div>
  <div class="popup-size-guide">

    {% comment %}
      verificamos se tem conteúdo na variável html_content_default, e se tiver mostramos ela.
    {% endcomment %}

    {% if html_content_default != blank %}
      <div class="left">
        <h3 class="title">
          {{ tag_medidas.subtitle }}
        </h3>
        <div class="sizes">
          <span>Selecione o tamanho:</span>
          <ul>
            {{ html_sizes }}
          </ul>
        </div>
        <div class="content" data-content>
          {{ html_content_default }}
        </div>
      </div>
    {% endif %}

    {% comment %}
      verificamos de tem imagem cadastrada na tag, e se tiver mostramos ela.

      sempre é importante usarmos o resize em imagens vindas da plataforma Vnda. o resize corta a imagem no tamanho informado como parâmetro (largura x altura)

      comumente usamos o vanilla lazyload (https://github.com/verlok/vanilla-lazyload) para carregamento das imagens e melhorias de performance
    {% endcomment %}

    {% if tag_medidas.image_url != blank %}
      <div class="right">
        <img class="lazy" data-src="{{ tag_medidas.image_url | resize: '300x' }}" alt="{{ tag_medidas.title }}">
      </div>
    {% endif %}
  </div>
{% endif %}

{% comment %}
  e por último, temos aqui um exemplo do javascript utilizado para abrir e fechar a popup e para realizar a troca de guia de medidas conforme o tamanho.
{% endcomment %}

<script>
  $('[data-size]').on('click', function(){
    var content = $(this).data('size');
    $('[data-size]').removeClass('active');
    $(this).addClass('active');
    $('[data-content]').html(content);
  })

  $('[data-size-guide]').on('click', function(e){
    e.preventDefault();

    $('.popup-size-guide').addClass('active')
    $('.overlay-size-guide').addClass('active')
  })

  $('.overlay-size-guide').on('click', function(e){
    e.preventDefault();

    $('.popup-size-guide').removeClass('active')
    $('.overlay-size-guide').removeClass('active')
  })
</script>