{%- comment -%}
  a integração com o Instagram funciona apenas em produção, por isso, no desenvolvimento em staging, utilizamos placeholders para simular o retorno da integração.
  a configuração da integração será feita logo após o lançamento da loja, e terá o auxilio da equipe da Vnda.
{%- endcomment -%}

{% assign html_instagram_posts = blank %}

{%- comment -%}
  utilizamos a tag load_posts para buscar os posts do instagram, passando como parâmetro from: "instagram". não é necessário informar o token do Instagram nem o usuário no front-end.
  essa tag irá retornar a variável loaded_posts que contém um array de objetos com as informações dos posts. 

  exemplo de array retornado:
  [
    {
      "title": "Descrição do post no Instagram",
      "image": "urldaimagem",
      "timestamp": "2022-10-23T12:18:14+0000",
      "url": "urldopost",
      "permalink": "permalinkdopost"
    },
    {
      "title": "Descrição do post no Instagram",
      "image": "urldaimagem",
      "timestamp": "2022-10-23T12:18:14+0000",
      "url": "urldopost",
      "permalink": "permalinkdopost"
    }
  ]
{%- endcomment -%}

{% load_posts from: 'instagram' %}

{%- comment -%}
  aqui construimos a estrutura html caso o load_posts retorne posts, essa estrutura é totalmente mutável e pode ser alterado conforme a necessidade do cliente.
{%- endcomment -%}

{% capture html_instagram_posts %}
  {% assign count_posts = 0 %}
  {% for post in loaded_posts %}
    {% if count_posts < 12 %}
      {% unless post.image contains '.mp4' %}
        {% unless post.permalink == null %}
          <div class="swiper-slide">
            <a aria-label="Ir para {{ post.title }}" href="{{ post.permalink }}" rel="external" target="_blank">
              <div class="image -square">
                {% comment %}
                  não utilizar o filtro | resize nessas imagens. como é uma integração com o Instagram, as imagens estão armazenadas lá, e não conseguimos manipular o tamanho.
                {% endcomment %}
                <img class="swiper-lazy" data-src="{{ post.image }}" alt="{{ post.title }}"/>
                <div class="skeleton"></div>
              </div>
            </a>
          </div>
          {% assign count_posts = count_posts | plus: 1 %}
        {% endunless %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{%- comment -%}
  aqui construimos a estrutura html caso estejamos em staging (if environment == 'staging'). essa estrutura é totalmente mutável e pode ser alterado conforme a necessidade do cliente.

  sempre que a estrutura com placeholders for alterada, deve-se alterar a estrutura dinâmica para que ela seja aplicada quando for realizado o deploy para production
{%- endcomment -%}

{% comment %} Placeholder para staging {% endcomment %}
{% if environment == 'staging' %}
  {% capture html_instagram_posts %}
    {% for i in (1..12) %}
      <div class="swiper-slide">
        <a aria-label="Post placeholder {{ forloop.index }}" href="#" rel="external" target="_blank">
          <div class="image -square">
            <img alt="Instagram Post" class="swiper-lazy" data-src="https://picsum.photos/600"/>
            <div class="skeleton"></div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% endcapture %}
{% endif %}

{%- comment -%}
  e, por último, mas não menos importante, montamos a estrutura final e colocamos a estrutura dos posts

  obs: esse exemplo usa a estrutura de slider utilizando o Swiper, mas pode ser implementada qualquer outra estrutura html.
{%- endcomment -%}

{% if html_instagram_posts != blank %}
  <section class="section instagram container">
    {% load_banners position: 'home-instagram-titulo' limit: 1 %}
    {% for banner in loaded_banners %}
      <div class="content">
        {% if banner.url != blank %}
          <a aria-label="Ir para o instagram da loja" href="{{ banner.url }}" target="_blank">
          {% endif %}
          <h2 class="title">{{ banner.subtitle }}</h2>
          {% if banner.url != blank %}
          </a>
        {% endif %}
        <p class="description">
          {{ banner.description | strip_html }}
        </p>
      </div>
    {% endfor %}

    <div class="swiper" data-instagram-swiper>
      <div class="swiper-wrapper">
        {{ html_instagram_posts }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
{% endif %}
