{% comment %}
  para descrições de produto temos apenas um campo no admin da plataforma Vnda. por isso, utilizamos do markdown e filtros do liquid para separar e utilizar esse campo de diversas formas.

  esse é um exemplo de como podemos utilizar o campo de descrição para criarmos uma descrição curta e collapses de conteúdos.

  o cadastro é feito da seguinte forma:

  ```
  Texto da descrição curta

  ***

  ## Titulo da primeira tab

  Texto da primeira tab

  ***

  ## Titulo da segunda tab

  Texto da segunda 
  ```

  onde *** separa a descrição curta e os collapses (deve ter *** entre cada collapse)
  e ## delimita o titulo do collapse
{% endcomment %}

{% comment %}
  sempre precisamos inicializar as variáveis, pois o liquid retorna erro caso utilizamos variáveis que não existem
{% endcomment %}

{% assign shortDescription = product.description %}
{% assign descriptionParts = false %}

{% comment %}
  precisamos verificar de a nossa descrição contém o elemento que vamos utilizar o split, para que só façamos o split se realmente for necessário

  no cadastro informamos *** no markdown, e product.description irá retornar o html correspondente, <hr/>

  o filtro split nos retorna um array com os valores, e iremos pegar o primeiro (first) e armazenaremos na variável shortDescription

  e armazenaremos o array inteiro na variável descriptionParts, para depois montarmos os collapses
{% endcomment %}

{% if product.description contains '<hr/>' %}
  {% assign shortDescription = product.description | split: '<hr/>' | first %}
  {% assign descriptionParts = product.description | split: '<hr/>' %}
{% endif %}

{% comment %}
  fazemos um loop na variável descriptionParts para montar os collapses
  lembrando que descriptionParts é um array
{% endcomment %}

{% for desc in descriptionParts %}
  {% if desc contains '</h2>' %}

    {% comment %}
      no cadastro informamos ## no markdown para sinalizar o titulo do collapse, e product.description irá retornar o html correspondente, <h2> </h2>

      daremos um split em </h2> para poder separar o titulo do texto do collapse

      o filtro split nos retorna um array com os valores, e iremos pegar o primeiro (first) e armazenaremos na variável tab_title e o último (last) em tab_content

      o filtro strip_html remove as tags html da variável
    {% endcomment %}

    {% assign tab_title = desc | split: '</h2>' | first | strip_html %}
    {% assign tab_content = desc | split: '</h2>' | last %}

    {% comment %}
      usamos a tag capture para armazenarmos o html dos collapses e poder utiliza-lo em outro momento

      perceba que printamos html_description_tabs dentro do capture de html_description_tabs, pra poder concatenar e não sobrescrever os conteúdos de html_description_tabs
    {% endcomment %}

    {% capture html_description_tabs %}
      {{ html_description_tabs }}
      <div class="tab-container">
        <a class="tab-title" open-tab data-tab="tab-{{ forloop.index }}">{{ tab_title }}</a>              
        <div class="content">
          {{ tab_content }}
        </div>
      </div>
    {% endcapture %}
  {% endif %}
{% endfor %}

{% comment %}
  aqui printamos as variáveis shortDescription, contendo a descrição curta e html_description_tabs contendo os collapses
{% endcomment %}
  
{{ shortDescription }}
{{ html_description_tabs }}

