<ol class="breadcrumbs"> 
  <li>
    <a class="link" href="{{ home_url }}">Home</a>
    <svg class="icon">
      <use xlink:href="#icon-next" />
    </svg>
  </li>

  {% for tag in product.tags %}
    {% if tag.type == "categoria" %}
      <li>
        <a class="link" href="/{{ tag.name }}">{{ tag.title }}</a>
        <svg class="icon">
          <use xlink:href="#icon-next" />
        </svg>
      </li>
      {% break %}
    {% endif %}
  {% endfor %}   
  
  <li>
    <span class="link current">{{ product.name }}</span>
  </li>
</ol>
