<ol class="breadcrumbs"> 
  <li>
    <a class="link" href="{{ home_url }}">Home</a>
    <svg class="icon">
      <use xlink:href="#icon-next" />
    </svg>
  </li>

  {% if parent_tag.title != blank %}
    <li>
      <a class="link" href="/{{ parent_tag.name }}">{{ parent_tag.title }}</a>
      <svg class="icon">
          <use xlink:href="#icon-next" />
      </svg>
    </li>
  {% endif %}
  
  <li><span class="link current">{{ tag.title }}</span></li>
</ol>
