.mix-match-area {
  display: flex;
  flex-direction: column;
}
.block-mix-match {
  order: 1;
  margin-bottom: 0;
  padding: 20px 10px;
  position: relative;
  transition: 0.2s ease;
  flex-direction: column;
  &.top {
    order: 0;
    border-bottom: 1px solid gray;
  }
  &.bottom {
    order: 2;
    border-top: 1px solid #e0e0e0;
  }
  &.multiwear {
    order: 3;
    border-top: 1px solid #e0e0e0;
  }
  .product-block {
    flex-direction: row;
    align-items: flex-start;
    &.active {
      .remove-group {
        display: block;
      }
    }
    .remove-group {
      display: none;
      font-size: 10px;
      position: absolute;
      bottom: 15px;
      right: 10px;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    .product-bottom {
      flex: 1;
      padding-top: 0;
      text-align: left;
      padding-bottom: 0.3rem;
      flex-direction: column;
      .description {
        margin: 0;
        .type-icon {
          display: none;
        }
        .price-wrapper{
          justify-content: flex-start;
        }
        .product-price{
          margin: 0;
          min-height: auto;
        }
        .cmp-price-container {
          margin-bottom: 0.7rem;
          .cmp-price-price {
            font-weight: 600;
          }
        }
      }
      .attributes {
        display: flex;
        @include media("xs") {
          flex-direction: column;
        }
        .prod-option {
          margin-right: 24px;
          margin-bottom: 0;
        }
      }
      .quantity {
        display: flex;
        margin-top: 5px;
        input {
          border: 0;
          text-align: center;
          font-size: 14px;
          padding-bottom: 5px;
          pointer-events: none;
        }
      }
    }
    .product-top {
      width: 40%;
      max-width: 140px;
      padding-bottom: 0;
      margin-right: 30px;
      .swiper-slide {
        &.-inactive {
          order: 9;
        }
        &.-active {
          order: 0;
        }
      }
      .aspect{
        height: 0;
        padding-bottom: 100%;
        position: relative;
      }
      figure {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
#selected-products {
  width: 100%;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.purchase {
  order: 10;
}
