{% comment %}
  sessões de produtos relacionados são uma funcionalidade muito comum nos ecommerces. e muitas vezes são em formato de carrossél.

  para essa funcionalidade, nós utilizamos tags de produtos e os agrupamos.
{% endcomment %}

{% comment %}
  precisamos armazenar nosso produto principal em uma variável. posteriormente iremos utilizar essa variável para verificar os produtos que iremos mostrar para que não mostremos o produto principal da página
{% endcomment %}

{% assign current_product = product %}

{% comment %}
  fazemos um loops das tags cadastradas no produto principal (product.tags) e verificamos (if) se ela é do tipo "relacionado" (tag.type == 'relacionado')

  o tipo pode ser qualquer um, porém normalmente utilizamos como padrão o tipo "relacionado" para facilitar o entendimento e dúvidas futuras
{% endcomment %}

{% for tag in product.tags %}
  {% if tag.type == 'relacionado' %}

    {% comment %}
      depois de pegarmos a tag, fazemos o load_products para buscar os produtos relacionados ao produto principal.

      lembrando que: o produto principal irá aparecer como produto relacionado em todos os seus produtos relacionados.

      o load_products retorna um array de produtos (products) e iremos verificar se há mais de 1 produto, pois é tiver apenas 1 produtos será ele mesmo.
    {% endcomment %}

    {% load_products tag: tag.name per_page: 12 %}

    {% if products.size > 1 %}
      <div class="section-products">
        <div class="heading">
          
          {% comment %}
            usamos o titulo (title) e descrição (description) da tag para, quando tiver, titulo e texto acima dos produtos relacionados

            lembrando sempre de testar se esses atributos estão preenchidos e só mostrando se tiver
          {% endcomment %}

          {% if tag.title != blank %}
            <h3 class="title">
              {{ tag.title }}
            </h3>
          {% endif %}

          {% if tag.description != blank %}
            <p class="subtitle">
              {{ tag.description }}
            </p>
          {% endif %}
        </div>

        {%- comment -%}
          nesse exemplo, está sendo montada a estrutura HTML para um carrossél utilizando o Swiper (https://swiperjs.com/)
          
          lembrando que é necessário chamar os css's e js's necessários e inicializar o swiper!
        {%- endcomment -%}

        <div data-carrosel-produtos>
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for product in products %}
                {% unless product.id == current_product.id %}
                  <div class="swiper-slide">
                    {%- comment -%}
                      aqui utilizamos um render para o product_block, como essa estrutura normalmente é a mesma utilizada em listagens de produtos e em produtos na home, o ideal é usar o render para reutilizar essas partes
                    {%- endcomment -%}

                    {% render 'partials/common/product_block', product: product %}
                  </div>
                {% endunless %}
              {% endfor %}
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}