{%- comment -%}
  A funcionalidade de kits da plataforma funciona similar ao adicionar ao carrinho através do /carrinho/adicionar. Entretando, neste caso, os produtos são enviados em uma unica requisição.

  No checkout e dentro da plataforma, os produtos continuam sendo tratados como individuais, e não há vinculo entre eles. Caso seja necessário desconto, deverá ser criada uma promoção e o valor promocional será mostrado apenas no checkout.

  A única funcionalidade é enviar todos os produtos em uma única requisição, evitando o erro "Too many requests".

  Para essa funcionalidade, precisaremos ter um array Javascript, contendo os produtos. Para cada produto precisaremos enviar as seguintes informações:

  - quantity: quantidade do produto
  - sku: sku do produto na plataforma Vnda

  A requisição deve ser enviada para /carrinho/adicionar/kit.

  Essa funcionalidade pode ser usada juntamente com a funcionalidade de personalização de produto. Para isso, juntamente com a quantidade e sku, deverá ser enviado os campos referentes a personalização.   
{%- endcomment -%}

<script>
  const addItemsCombo: function (comboItems) {
    var data = {
      items: comboItems
    }
    
    var form_data = JSON.stringify(data);
  
    return $.ajax({
      url: '/carrinho/adicionar/kit',
      type: 'POST',
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      xhrFields: {
        withCredentials: true
      },
      cache: false,
      data: form_data
    });
  }

  $(document).on('submit', '[data-form-kit]', function (event) {
    event.preventDefault();

    var comboItems = [];   

    $('[data-product-kit]').each(function(index, el){
      if($(el).find('[name="quantity"]').val() > 0){
        var item = {
          sku: $(el).find('[name="sku"]').val(),
          quantity: parseInt($(el).find('[name="quantity"]').val(), 10),
        }

        {%- comment -%} 
          Essa parte é necessária apenas se essa funcionalidade for utilizada juntamente com o recurso de personalizações de produto.
        {%- endcomment -%}
        item[$(el).find('input:not([name="sku"]):not([name="quantity"])').attr('name')] = $(el).find('input:not([name="sku"]):not([name="quantity"])').val();

        comboItems.push(item); 
      }            
    });

    // console.log('comboItems', comboItems)
    
    addItemsCombo(comboItems)
  });

</script>