{%- comment -%}
    a funcionalidade compre o feed possui a mesma funcionalidade que o Instagram Shop só que dentro da loja Vnda. com ela, o lojista pode marcar, por meio de pins, mais de um produto da sua loja em uma imagem e fazer com que os clientes sejam direcionados para a compra desses produtos.

    cada loja pode ter uma forma de cadastro diferente para essa funcionalidade, aqui teremos apenas uma sugestão de como pode ser feito. lembre-se de registrar como o lojista deve fazer o cadastro no documento de Orientacões de cadastro.
{%- endcomment -%}

{% load_banners position: "compre-o-feed"  %}
{% for banner in loaded_banners %}

  {%- comment -%}
    primeiro, setamos a variável products_pin como vazia, para caso reutilizarmos a sessão ou ter mais de um banner na posicão, não duplicar os pins 
  {%- endcomment -%}
  {% assign products_pin = '' %}

  {%- comment -%}
    então, armazenamos os "pins" dos produtos do banner em uma variável, para que depois possamos apenas adicionar esse conteúdo dentro do banner
  {%- endcomment -%}
  {% capture products_pin %}

    {%- comment -%}
      para cadastrar os produtos que devem aparecer pinados no banner, fazemos o cadastro da seguinte forma:

      - na descricão do banner em questão iremos inserir uma linha para cada produto, seguindo a estrutura abaixo:

      [produto]: <iddoproduto> | <posicão_topo> | <posicão_lateral>

      exemplo de como ficaria uma descricão de um banner com vários produtos pinados:

      [produto]: 1075 | 5% | 25%

      [produto]: 1062 | 10% | 75%

      [produto]: 705 | 20% | 25%

      [produto]: 707 | 25% | 75%

      [produto]: 779 | 65% | 25%

      [produto]: 760 | 65% | 75%
    {%- endcomment -%}

    {%- comment -%}
      primeiro verificamos se a descricão do banner contém a string [produto]:, e se tiver, damos split na string </p>
      
      isso resultará em um array, onde cada posicão será um produto,e conterá o id, e a posicão do pin no banner
    {%- endcomment -%}
    {% if banner.description != blank and banner.description contains '[produto]:' %}
      {% assign configs = banner.description | split: '</p>' %}
      {% for config in configs %}
          {% if config contains '[produto]' %}
        
            {% assign config_splited = config | split: '|' %}

            {%- comment -%}
              primeiro, separaremos cada item do array no id do produto, na posicao em relacao ao topo do banner e a posicão em relacao à lateral esquerda do banner
            {%- endcomment -%}
            {% assign product_id = config_splited[0] | split: '[produto]:' | last | strip_html | strip %}
            {% assign top = config_splited[1] | strip_html | strip %}
            {% assign left = config_splited[2] | strip_html | strip %}
        
            {%- comment -%}
              a partir do id do produto, faremos um load_products passando ele como parâmetro, e ele irá retornar as informacões do produto (como nome e url)  
            {%- endcomment -%}
            {% load_products ids: product_id %}
        
            {%- comment -%}
              aqui, montamos a estrutura de cada pin, posicionando ele com o top e left informado no cadastro e criando um link para a página do produto em questão 
            {%- endcomment -%}
            <div class="pin" data-product-pin style="top: {{ top }}; left: {{ left }};">
              <div class="icon" style="background-color: {{ banner.color }};"></div>
        
              <div class="product" style="border: solid 1px {{ banner.color }};">
                <div class="image">
                  <img class="lazy" data-src="{{ products[0].image_url | resize: '50x50' }}" alt="{{ products[0].name }}">
                </div>
                <div class="name">
                  <a href="{{ products[0].url }}" class="view">
                    <p>{{ products[0].name }}</p>
                  </a>
                </div>
              </div>
            </div>
        
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endcapture %}

  {%- comment -%}
    por último, montamos a estrutura do banner e incluimos - caso houver - os pins dos produtos
  {%- endcomment -%}
  <div class="simple-banner">
    <figure class="figure">
      <img class="lazy" alt="{{ banner.subtitle }}" data-src="{{ banner.file_url | resize: '913x' }}"/>

      <figcaption class="figcaption">

        {% if products_pin != blank %}
          {{ products_pin }}
        {% endif %}

        {% if banner.url != blank and banner.subtitle != blank %}
          <button class="btn" style="color: {{ banner.color }};">
            <a class="link" href="{{ banner.url }}" {% if banner.external %} rel="noopener" target="_blank" {% endif %}>
              {{ banner.subtitle }}
            </a>
          </button>
        {% endif %}
      </figcaption>
    </figure>
  </div>
{% endfor %}